<div id="{{this}}" class="gallery">
    <img src="images/set-for-cutting-and-sewing.jpg" class="img" alt="gallery image 1">
    <button class="btn next">next</button>
    <button class="btn prev">prev</button>
</div>