<h1>My to do list</h1>

{{#each cosplay}}
<article>
<h4>{{this.name}}</h4>
<p>{{this.universe}}</p>
<a href="/cosplay/edit/{{this._id}}" class="button"><button>Update</button></a>
<a href="/cosplay/delete/{{this._id}}" class="button"><button>Delete</button></a>
</article>
{{/each}}

<a href="/cosplay/new"> <button>Add another?</button> </a>
