<h1>Welcome to my site</h1>
<section>
<h2>Sewing projects</h2>
<p>Thanks to ironhack teachings, here is a little page with most of my sewing projects.
<br>
You will find clothes, plushes and cosplays I made with this baby and my little hands:</p>
<img src="images/machine.jpg" alt="machine brother">
</section>