<h1>My works</h1>
<p>Here is a sample of my diffrent creations.</p>

<h2>Dresses</h2>

{{> galleryImg "gallery-1"}}

<h2>Cosplays</h2>
<h3>Catwoman and Harley Quinn</h3>

{{> galleryImg "gallery-2"}}

<h3>Jill Valentine and Claire Redfield</h3>

{{> galleryImg "gallery-3"}}

<h3>Tifa and Aerith</h3>

{{> galleryImg "gallery-4"}}

<h3>Yuna and Rikku</h3>
<div>
    <img src="images/yuna_rikku.jpg" alt="Yuna and Rikku">
</div>

<h2>Plushies</h2>
<h3>Crows</h3>

{{> galleryImg "gallery-5"}}

<h3>Horse</h3>

{{> galleryImg "gallery-6"}}

<h3>Raichu</h3>

{{> galleryImg "gallery-7"}}
